version: "3.9"

services:
  db:
    image: postgres:14-alpine
    container_name: inventory_db
    environment:
      POSTGRES_DB: inventory
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  backend:
    build: ./backend
    container_name: inventory_backend
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/inventory
      SPRING_DATASOURCE_USERNAME: admin
      SPRING_DATASOURCE_PASSWORD: admin
      # SPRING_JPA_HIBERNATE_DDL_AUTO: update   # (décommente si tu veux que ça crée/update le schéma)
    ports:
      - "8080:8080"
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: inventory_frontend
    depends_on:
      - backend
    ports:
      - "8083:80"
    restart: unless-stopped

volumes:
  pgdata:
